$Color_main_menu_link: #013142;
$Color_main_menu_link_hover: #00AFF0;
$color_text_title: #571307;
$color_gray: #d4d2d2;
$color_bg: #f2a204;
$color_bg_hover: #ffbf00;
$color_box: #e0eaf5;
$color_blue: #758aa1;
$color_orange: #fc9106;
$color_blue_link: #571307;
$color_blue_link_hover: #00AFF0;

// @font-face {
//   font-family: 'DFKai';
//   src: url('../fonts/kaiu.ttf') format('woff2');
// }


