@use "define" as *;
@use "responsive" as *;

#header-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000000000;
    background-color: transparent !important;
}
.languages-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .login-box {
        margin-right: 1rem;
         cursor: pointer;
        .link-login {
            color: rgba(107, 106, 106, 0.726);
            font-weight: bold;
            font-size: 0.8rem;
           
            &:hover {
                color: rgb(15, 15, 15);
            }
        }
        .link-login-welcome {
            a {
                font-weight: bold;
                font-size: 0.8rem;
                color: rgb(2, 74, 141);
                position: relative;
                svg {
                    width: 1.2rem;
                    height: 1.2rem;
                    fill: rgb(2, 74, 141);
                    transition: fill 0.3s ease; /* Thêm hiệu ứng chuyển màu cho mượt */
                    margin-top: 0.2rem;
                    position: absolute;
                    left: -1.5rem; /* Điều chỉnh vị trí của icon nếu cần */
                    bottom: 0.1rem; /* Điều chỉnh vị trí của icon nếu cần */
                }
                &:hover {
                    color: rgb(14, 38, 75);
                    svg {
                        fill: rgb(14, 38, 75);
                    }
                }
            }
        }
    }
    .languages-box {
        label {
            font-weight: bold;
            font-size: 0.7rem;
            padding: 0.1rem;
        }
        .link-languages {
            color: rgba(107, 106, 106, 0.726);
            cursor: pointer;
            &:hover {
                color: rgb(15, 15, 15);
            }
        }
        .not-link {
            color: #00384e;
        }
    }
}

#header-scroll {
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2px 0px;
    z-index: 99999999999;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    @include Respond(md) {
        display: none;
    }
}

.logo-desktop {
    display: block;
    @include Respond(md) {
        display: none;
    }
    @include Respond(sm) {
        display: none;
    }
    @include Respond(xs) {
        display: none;
    }
}

.logo-mobile {
    display: none;
    @include Respond(md) {
        display: block;
    }
}

.company-logo {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.start {
    display: flex !important;
    position: fixed;
    top: 0;
    z-index: 500;
    animation-name: show_header;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes show_header {
    0% {
        top: -50%;
    }
    100% {
        top: 0%;
    }
}

.close {
    display: flex !important;
    position: fixed;
    top: -50;
    z-index: 500;
    animation-name: close_header;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes close_header {
    0% {
        top: 0%;
    }
    100% {
        top: -50%;
    }
}
