.side-list {
    border-radius: 14px;
    background: transparent;
    margin-bottom: 2rem;
    overflow: hidden;
}
.side-list-title {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
    color: #2e7eda;
}

//=================================================================
.side-tab {
    display: inline-flex;
    background: transparent;
    padding: 4px;
    border-radius: 999px;
    gap: 5px;
    // margin-bottom: 20px;
}

.tab-title {
    padding: 16px 20px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    transition: all 0.25s ease;
}

.tab-title.active {
    background: #2e7eda;
    color: #fff;
    box-shadow: 0 4px 12px rgba(22, 119, 255, 0.25);
}

.tab-title:hover {
    color: #12468f;
}

.side-tab-content {
    margin-top: 15px;
}

.card-list {
    display: none;
    flex-direction: column;
    //gap: 10px;
}

.card-list.active {
    display: flex;
}

/* card */
.card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin: 1px 0;
    border-radius: 12px;
    background: #fff;
    text-decoration: none;
    color: inherit;
    transition: all 0.25s ease;
    cursor: pointer;
    border: 1px solid #f0f0f0;

    @include Respond(md) {
        font-size: 1.05rem;
    }

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
        border-color: #e6f0ff;
    }

    .card-title {
        font-size: 0.95rem;
        line-height: 1.5;
        color: #333;
        transition: 0.2s;
    }

    &:hover .card-title {
        color: #1677ff;
    }

    /* mũi tên */
    &::after {
        content: "›";
        font-size: 18px;
        color: #bbb;
        transition: 0.2s;
    }

    &:hover::after {
        color: #1677ff;
        transform: translateX(3px);
    }
}
