$menu_mobile_color: rgba(194, 18, 18, 0.76);
.menu-mobile {
    display: none;
    background-color: aqua;
    width: 100%;
    position: fixed;
    top: 27px;
    right: 2px;
    z-index: 100000000002;
      @include Respond(md) {
        display: block;
    }
    .menu-mobile-icon {
        position: absolute;
        right: 3px;
        top: 15px;
        z-index: 1000000002;
        cursor: pointer;
        font-size: 1.5rem;
        @include Respond(md) {
            font-size: 1.5rem;
        }
        &:hover {
            color: $menu_mobile_color;
        }
        .svg-menu-icon{
            fill: $menu_mobile_color;
            width: 20px;
            background-color: #fff;

        }
        
    }
    .menu-mobile-ui {
        display: none;
        position: absolute;
        right: 0px;
        top: 15px;
        background-color: rgb(255, 255, 255);
        border-radius: 0.2rem 0 0 0.2rem;
        border-bottom: 1px solid rgb(161, 161, 161);
        border-top: 1px solid rgb(161, 161, 161);
        border-left: 1px solid rgb(161, 161, 161);
        width: 150px;
        .menu-mobile-item {
            transition-duration: 1s;
            border-bottom: 1px dotted #999;
            display: flex;
            &:hover {
                background-color: $menu_mobile_color;
                a {
                    color: #fff;
                }
            }
            a {
                font-weight: bold;
                font-size: 1rem;
                display: block;
                color: $menu_mobile_color;
                padding: 0.5rem 1rem;
                width: 100%;
                transition-duration: 1s;
            }
        }
    }
}