@use "define" as *;
@use "responsive" as *;

.reset-password-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 70px;
    gap: 30px;
    .reset-password-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > div {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 1px;
            margin-bottom: 20px;
            input {
                width: 100%;
                padding: 10px 14px;
                border: 0.5px solid #ddd;
                border-radius: 9px;
                font-size: 14px;
                color: #1a1a1a;
                box-sizing: border-box;
                outline: none;
                margin-bottom: 14px;
                transition: border 0.15s;
            }
            .btn-resetpassword {
                width: 100%;
                padding: 13px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 6px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                transition: background 0.3s;
            }
            .btn-resetpassword:hover {
                background-color: #0056b3;
            }
            .btn-resetpassword:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }
    }
}
