@use "define" as *;
@use "responsive" as *;

.reset-password-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 70px;
    gap: 30px;
    .reset-password-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
         & > div {
            width: 50%;
         }
    }
}
