# ==============================================================================
# [2026-10-05] - @author: Kelvin - Sample Environment Variables
# Copy file nay thanh .env tai thu muc goc WordPress hoac thu muc Theme de cau hinh
# ==============================================================================

# SMTP Credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=ssl
SMTP_AUTH=true
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_email@gmail.com
SMTP_FROM_NAME="Digiwin Vietnam"
